.input {
  display: flex;
  align-items: center;
  margin: 0 auto 1rem auto;
  flex-direction: column;
  width: 70%;
}

.input label {
  font-weight: bold;
  width: 100%;
  margin-bottom: 0.4rem;
  text-transform: capitalize;
}

.input input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding: 0.5rem;
}
